html , body{
  font-size: 62,5%; 
}
body{
    margin: 0;
}
.img{
    background-repeat: no-repeat;
    background-image: url(img/68620047-fondo-de-madera-oscura-foto-tomada-de-una-superficie-y-editado-en-un-fondo-oscuro-y-sombrío-útil.jpg);
    background-size:cover;
    height: 24rem;
    
}
.inputs{
    height: 70%;
}

.boton {
    background-color: red;
}